.cart {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #877CC7;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .cart h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart li img {
    width: 40px;
    height: auto;
    border-radius: 5px;
  }
  
  .cart li span {
    font-size: 14px;
  }
  
  .cart .total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .cart .checkout-button {
    background-color: #1a120f;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart .checkout-button:hover {
    background-color: #e67347;
  }
  