

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #877CC7;
    box-shadow: "0 2px 5px rgba(0, 0, 0, 0.1)";
    position: "sticky";
    top: 0;
    z-index: 1;
    

  }
  
  .logo img {
    width: 250px;
    height: auto;
    position: relative;
    left: 7rem;
    top: 0rem;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav ul li a:hover {
    color: #ffffff; /* Color al pasar el ratón por encima */
  }
  
  .nav ul li a:active {
    color: #877CC7; /* Color al hacer clic */
  }
  
  @media (max-width: 768px) {
    /* Responsivo para pantallas pequeñas */
    .header {
      flex-direction: column;
      padding: 20px;
    }
  
    .nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .logo img {
      width: 80px;
    }
  }
  